[submodule "cacti"]
	path = cacti
	url = https://github.com/HewlettPackard/cacti.git
[submodule "nvmain"]
	path = nvmain
	url = https://github.com/shikhartuli/nvmain.git
[submodule "txf_design-space"]
	path = txf_design-space
	url = https://github.com/JHA-Lab/txf_design-space.git
